/ProyectoFinalPOOBD/.vs/
/ProyectoFinalPOOBD/ProyectoFinalPOOBD/bin/
/ProyectoFinalPOOBD/ProyectoFinalPOOBD/obj/
/ProyectoFinalPOOBD/ProyectoFinalPOOBD/VaccineContext/
/ProyectoFinalPOOBD/.vs/ProyectoFinalPOOBD/
*.[Cc]ache
*.suo